body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    background-color: black;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    margin-top: 12%;
}

p {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6%;

}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 12.5%;
}

a {
    margin: 7.5px;
    cursor: pointer;
}

#twitter {
    height: 35px;
    width: 35px;
}

#instagram {
    height: 35px;
    width: 35px;
}

#linkedin {
    height: 35px;
    width: 35px;
}

#facebook {
    height: 35px;
    width: 35px;
}

#mailjet {
    margin-top: 30%;
    text-align: center;
}

/*
@media only screen and (max-width: 300px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 250px !important;
        width: 250px !important;
        margin-top: 40%;
    }

    p {
        width: 80% !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
    }

    #socials {
        margin-top: 10%;
    }

    #mailjet {
        margin-top: 80%;
        text-align: center;
    }

    iframe {
        width: 220px !important;
        height: 400px !important;
    }
}
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 425px;
        width: 425px;
        margin-top: 40%;
    }

    p {
        width: 85%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
    }

    #socials {
        margin-top: 10%;
    }

    #mailjet {
        margin-top: 80%;
        text-align: center;
    }

    iframe {
        width: 370px;
        height: 370px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 25px;
    }

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
        width: 350px;
        margin-top: 10%;
    }

    p {
        width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }

    #socials {
        margin-top: 30%;
    }

    #mailjet {
        margin-top: 70%;
        text-align: center;
    }

    iframe {
        width: 500px;
        height: 500px;
    }
}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
    body {
        font-size: 30px;
    }
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 550px;
        width: 550px;
        margin-top: 40%;
    }

    p {
        width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
    }

    #socials {
        margin-top: 40%;
    }
}
*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
        width: 350px;
        margin-top: 13.5%;
    }
    
    p {
        width: 40%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    #socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 21%;
    }

    #mailjet {
        margin-top: 30%;
        text-align: center;
    }
}
